:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 42%);
    --color-darkgray: hsl(0, 0%, 7%);
}

body {
    font-size: 16px;
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background: var(--color-yellow, hsl(47, 88%, 63%));

    margin-top: 5rem;

    & p {
        font-size: 16px;
    }

    & .cards-container {
        max-width: 1300px;

        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-items: stretch;

    }

    & .card {
        flex: 0 0 27.5%;
        display: flex;
        flex-direction: column;
        min-width: 15rem;

        background: var(--color-white, #fff);
        border: 2px solid #000;
        border-radius: 1rem;
        box-shadow: 6px 6px 1px var(--color-darkgray, hsl(0, 0%, 7%), );

        margin-bottom: 3rem;
        padding: 1.25rem;

        &>p {
            color: var(--color-gray, hsl(0, 0%, 42%));
        }

        & h2,
        .author {
            font-weight: 800;
        }

        & h2 {
            margin-bottom: 0;
        }

        & .author {
            display: flex;
            align-items: center;

            & img {
                max-width: 32px;
                max-height: 32px;

                margin-right: 1rem;
            }
        }


        & header {
            display: flex;
            flex-wrap: wrap;
            & img {
                width: 100%;
                border-radius: 0.75rem;
            }

            & p {
                display: flex;
                flex-wrap: wrap;
                flex-basis: 100%;
                margin-top: 1rem;
                margin-bottom: 0.3rem;

                & .category {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: 1rem;
                    margin-bottom: 0.25rem;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.25rem;
                    background-color: var(--color-yellow, hsl(47, 88%, 63%));
                }

            }
        }

        & .author p,
        & h2 {
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                color: var(--color-yellow, hsl(47, 88%, 63%));
            }
        }

        & .author img {
            cursor: pointer;
        }

        /* ye i know, i just didnt want to add another <a> element, chose to use this approach than to do the same thing over and over ^^ */
    }
}

@media screen and (min-width: 1106px) {
    .card {
        &:not(:nth-child(3n)) {
            margin-right: 2rem;
        }
    }
}

@media screen and (min-width: 598px) and (max-width: 1106px) {
    .card {
        &:not(:nth-child(2n)) {
            margin-right: 2rem;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}